<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Product page</title>
    <link rel="stylesheet" href="/styles/template.css" />
    <link
      rel="shortcut icon"
      type="image"
      href="components/images/WhatsApp Image 2021-12-19 at 6.38.10 PM.jpeg"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/display.css" />
  </head>
  <body>
    <div class="navbar"></div>
    <div class="main-container">
      <div class="display">
        <div class="display-product"></div>
        <div class="resultbox">
          <h2>Consumer testing results:</h2>
          <p>Consumer studies are underway and will be posted here soon.</p>
        </div>
      </div>

      <div class="info_1">
        <div class="info1_content">
          <h2>Science behind this product:</h2>
          <p>
            Unlike physical exfoliators (scrubs, brushes, etc.) commonly used in
            facials, this gentle yet powerful 32% AHA/PHA/BHA chemical exfoliant
            trio promotes cell turnover and clear pores without causing
            micro-tears or damaging the skin’s natural barrier. 25% AHA
            (Glycolic Acid, Lactic Acid, Mandelic Acid) delivers superficial
            peeling by dissolving away the dead skin cells present in the upper
            skin layer, revealing a bright even skin tone.
          </p>
          <p>
            5% PHA not just exfoliates but also doubles up as humectant and
            moisturiser. Because of its larger molecule size compared to
            Glycolic acid (molecular weight 178 vs. 76 for Glycolic acid), it
            penetrates the skin slowly, hence offering lesser irritation.
            Further, PHAs are proven to provide up to 50% protection against UV
            radiation, hence they provide conditioning effects to skin without
            increasing sensitivity to UV light.
          </p>
          <p>
            Lastly, 2% BHA (Salicylic acid) unclog pores by breaking bonds
            formed by dead cells and flushing out skin debris & oils, giving you
            the much-desired matt look.
          </p>
          <p>
            Note: It is not recommended for people with hypersensitive or
            compromised skin as it contains a very high concentration of direct
            acids.
          </p>
        </div>
        <div class="info1_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0410/9608/5665/t/3/assets/pf-d94eb7ce--2min-Edited.jpg?v=1602044709"
            alt=""
          />
        </div>
      </div>

      <div class="info_2">
        <div class="heading">
          <h1>How to use</h1>
        </div>
        <div class="info2_content">
          <ul>
            <li>
              Use it as a peel in the PM once per week. Increase to twice per
              week if your skin can tolerate it. Apply a thick layer to clean
              dry skin (avoid eye area) and leave for 10 minutes before rinsing
              off using warm water. Follow with your preferred moisturiser.
            </li>
            <li>
              Follow it up with Minimalist ultra-hydrating 2% Hyaluronic acid to
              ensure newly revealed skin is well hydrated.
            </li>
            <li>
              Always wear a broad-spectrum sunscreen SPF 30 and above while
              using direct acids as your skin becomes more susceptible to
              sunburn.
            </li>
            <li>
              Unlike the harsh professional peeling process, the superficial
              peeling at home with direct acids takes time. To get the desired
              sustainable results, use it as a regular weekend product for at
              least 8-10 weeks.
            </li>
          </ul>
        </div>
      </div>

      <div class="ingredients">
        <div class="ing_head">Ingredients</div>
        <p>
          Aloe Vera Juice, Glycolic Acid, Lactic Acid, Propylene Glycol,
          Gluconolactone, Mandelic Acid, Dimethyl Isosorbide, Sodium Hydroxide,
          Salicylic Acid, Propanediol, Ethoxydiglycol, Curcuma Longa (Turmeric)
          Root Extract, Sodium Hyaluronate, Phenoxyethanol, Pullulan,
          Ethylhexylglycerin, Hydroxyethylcellulose, Xanthan Gum, Sclerotium
          Gum, Trisodium Ethylenediamine Disuccinate, Lecithin
        </p>
      </div>
      <div class="faq">
        <div class="faq_head">FAQs</div>
        <div>
          <h3>1. What does peeling solutions do?</h3>
          <p>
            The peeling solution contains three active ingredients - 25% alpha
            hydroxy acid (a blend of Glycolic acid, Lactic acid & Mandelic
            acid), 5% poly hydroxy acid (Gluconolactone) and 2% beta hydroxy
            acid (Salicylic acid). They all act as excellent exfoliants.
            Glycolic acid works on the skin's surface and breaks through the
            multiple layers of the dead skin cells and helps in their effective
            shedding. It also fights the signs of sun damage and reduces fine
            lines and wrinkles. Salicylic acid penetrates deep into the pores
            and whisks out the skin debris and excess sebum trapped within them.
            Thus, it removes clogs. It also provides anti-microbial resistance
            to the skin and offers an overall treatment for mild acne.
          </p>
        </div>
        <div>
          <h3>2. Is the peeling solution safe for skin?</h3>
          <p>
            Chemical peels have a balanced pH and are readily available in the
            market (both OTC and prescription-grade medications). They are
            completely safe for topical applications, provided they match your
            needs and fit your skin type. It is usually not recommended for
            hypersensitive or compromised skin. Minimalist peeling solution (25%
            AHA + 5% PHA + 2% BHA) contains a high concentration of acids, but
            in combo with aloe juice and Turmeric extract that calms the
            irritation associated with exfoliation. Always perform a patch test
            over a small area of your skin. Observe it for the next 48 hours. If
            no irritation or burns (redness) occur, you are ready to go with the
            product.
          </p>
        </div>
        <div>
          <h3>3. Who can use an AHA/PHA/BHA peeling solution?</h3>
          <p>
            It is advised that the peeling solution should not be used on
            sensitive, abraded, broken, or compromised skin. The peeling
            solution is for unisex consumption. There is no specified starting
            age range for using chemical peels, however it's safe for people in
            their 20's to start using it. Teenagers should avoid using it or
            consult a dermatologist before doing so. The peeling solution should
            not be used during pregnancy because it contains salicylic acid,
            which may harm the applicant. In the case of breastfeeding women, it
            is better to have a word with your skincare specialist before
            proceeding with the product.
          </p>
        </div>
        <div>
          <h3>
            4. Does AHA PHA BHA peeling solution cause purging or breakouts?
          </h3>
          <p>
            Chemical peels accelerate the cell turn over, and some people might
            undergo a purging phase as soon as they start with the skincare acid
            routine. However, this shall subside in 2-3 weeks. If the purge
            lasts longer than 6 weeks, quit using the product, and consult a
            dermatologist. He/she may revise the frequency of application of the
            product or adjust the dosage. Or, suggest an alternative.
          </p>
        </div>
        <div>
          <h3>
            5. What products can or cannot be used with AHA PHA BHA peeling
            solution?
          </h3>
          <p>
            Hyaluronic acid is an excellent addition to your skincare routine.
            It hydrates the skin and helps it to retain moisture for a long
            time. It makes sure that the acids (used in the peel) are not too
            mean or harsh to your skin. Also, Niacinamide will raise the pH of
            the acids, if you use it right after the chemical peel, and make
            them less effective. But you can still include it in your daily
            routine and skip it on weekends when AHA/PHA/BHA is used. You can
            include vitamin C in our daily routine, alongside the AHA/PHA/BHA
            peeling solution. You can use them at alternate times, i.e., if
            peeling was done at night, you could use Vitamin C serum in AM.
          </p>
        </div>
      </div>
      <div class="other-products"></div>
      <div class="customer-reviews"></div>
    </div>
    <div class="product-container"></div>
    <footer></footer>
  </body>
</html>
<script type="module">
  import {
    navwithouttop,
    footer,
    itemstemplate,
    productappend,
    items,
    navfunction,
    searchanimation,
  } from "/scripts/script.js";
  document.querySelector(".navbar").innerHTML = navwithouttop();
  document.querySelector("footer").innerHTML = footer();

  let products = items;
  let cart = JSON.parse(localStorage.getItem("cartitems")) || [];
  let itemcontainer = document.querySelector(".product-container");
  itemcontainer.innerHTML = itemstemplate("Other Products you may like");
  let maindiv = document.querySelector(".recent-products");
  productappend(products, maindiv, cart);
  navfunction();
  searchanimation();

  let pro = [];
  pro.push({});
  pro[0].id = "<%=products._id %>";
  pro[0].title = "<%=products.title%>";
  pro[0].reviews = "<%=products.reviews%>";
  pro[0].desc = "<%=products.desc%>";
  pro[0].tprice = "<%=products.tprice%>";
  pro[0].dprice = "<%=products.dprice%>";
  pro[0].category = "<%=products.category%>";
  pro[0].url = "<%=products.url%>";
  pro[0].quantity = "<%=products.quantity%>";
  pro = pro[0];
  console.log(pro);
  let maindiv2 = document.querySelector(".display-product");
  var counter = 0;
  const appenditem = ({
    id,
    title,
    url,
    reviews,
    desc,
    tprice,
    dprice,
    category,
    quantity,
  }) => {
    let imgdiv = document.createElement("div");
    imgdiv.setAttribute("class", "imgdiv");
    let img = document.createElement("img");
    img.src = url;
    imgdiv.append(img);
    let contentdiv = document.createElement("div");
    contentdiv.setAttribute("class", "contentdiv");
    let maininfo = document.createElement("div");
    maininfo.setAttribute("class", "maininfo");
    let name = document.createElement("h1");
    name.textContent = title;
    let subhead = document.createElement("p");
    subhead.textContent = `${desc} • ${Math.floor(
      Math.random() * (250 - 30 + 1) + 30
    )}ml`;
    let ratingbox = document.createElement("div");
    ratingbox.setAttribute("class", "ratingbox");
    let icondiv = document.createElement("div");
    if (reviews > 700) {
      for (var i = 0; i < 5; i++) {
        let iconspan = document.createElement("span");
        if (i < 4) {
          iconspan.innerHTML = `<i class="fas fa-star"></i>`;
        } else {
          iconspan.innerHTML = `<i class="fas fa-star-half-alt"></i>`;
        }
        icondiv.append(iconspan);
      }
    } else if (reviews < 700) {
      for (var i = 0; i < 5; i++) {
        let iconspan = document.createElement("span");
        if (i < 4) {
          iconspan.innerHTML = `<i class="fas fa-star"></i>`;
        } else {
          iconspan.innerHTML = `<i class="far fa-star"></i>`;
        }
        icondiv.append(iconspan);
      }
    }
    let rating = document.createElement("div");
    rating.textContent = `${reviews} reviews`;
    ratingbox.append(icondiv, rating);

    let pricediv = document.createElement("div");
    pricediv.setAttribute("class", "pricediv");
    let total = document.createElement("span");
    total.textContent = `₹${dprice}`;
    let discount = document.createElement("span");
    discount.textContent = `₹${tprice}`;
    pricediv.append(total, discount);
    maininfo.append(name, subhead, ratingbox, pricediv);

    let btndiv = document.createElement("div");
    btndiv.setAttribute("class", "btndiv");
    let quantitydiv = document.createElement("div");
    quantitydiv.setAttribute("class", "quantitydiv");
    let num = document.createElement("div");
    num.textContent = 1;
    let min = document.createElement("div");
    min.innerHTML = `<i class="fas fa-minus"></i>`;
    pro.quantity = num.textContent;
    min.addEventListener("click", () => {
      if (counter <= 1) {
        counter = 1;
      } else {
        counter--;
        num.textContent = null;
        num.textContent = counter;
      }
      pro.quantity = counter;
    });
    let max = document.createElement("div");
    max.innerHTML = `<i class="fas fa-plus"></i>`;
    max.addEventListener("click", () => {
      counter++;
      num.textContent = null;
      num.textContent = counter;
      pro.quantity = counter;
    });
    quantitydiv.append(min, num, max);
    let form = document.createElement("form");
    form.setAttribute("action", "/addtocart");
    form.setAttribute("method", "POST");
    let hiddeninput = document.createElement("input");
    hiddeninput.type = "hidden";
    hiddeninput.name = "id";
    hiddeninput.value = id;
    let subbtn = document.createElement("button");
    subbtn.type = "submit";
    subbtn.textContent = "Add to Cart";
    subbtn.addEventListener("click", () => {
      console.log(pro);
    });
    form.append(hiddeninput, subbtn);
    // let cartbtn = document.createElement("button");
    // cartbtn.textContent = "Add to Cart";
    // cartbtn.addEventListener("click", async () => {
    //   cartitems.push(pro);
    //   localStorage.setItem("cartitems", JSON.stringify(cartitems));
    //   if (cartitems.length > 0) {
    //     document.getElementById("indicator").style.display = "block";
    //   } else {
    //     document.getElementById("indicator").style.display = "none";
    //   }
    // });
    btndiv.append(quantitydiv, form);
    contentdiv.append(maininfo, btndiv);

    let sideinfo = document.createElement("div");
    sideinfo.setAttribute("class", "sideinfo");
    sideinfo.innerHTML = `<div class="info1">
    <h2>Help Reduce Fine Lines & Wrinkles</h2>
    <p>
      <span>What it is: </span>Turn back the clock on aging and give
      your skin a youthful vibrancy with this gentle, safe & effective
      2% Retinoid serum.
    </p>
  </div>
  <div class="info2">
    <h2>Why it's awesome:</h2>
    <ul>
      <li>
        The next-generation anti-aging formula with 2% Granactive
        Retinoid is dermatologically tested to offer less irritation &
        multi-fold better effect than other retinol and retinoid
        derivatives
      </li>
      <li>
        Boosts cell turnover & stimulates collagen production to erase
        fine lines and wrinkles, revealing radiant glowy skin
      </li>
      <li>
        Contains top quality Granactive Retinoid sourced from Grant
        Industries, USA, A leading global supplier in skincare
      </li>
    </ul>
  </div>
  <hr />
  <div class="info3">
    <h2>This product is:</h2>
    <div>
    <div>
    <span><i class="far fa-check-circle"></i></span
    ><span>Fragrence Free</span>
  </div>
  <div>
    <span><i class="far fa-check-circle"></i></span
    ><span>Silicon Free</span>
  </div>
  <div>
    <span><i class="far fa-check-circle"></i></span
    ><span>Anti-Aging</span>
  </div>
  <div>
    <span><i class="far fa-check-circle"></i></span
    ><span>Paraben Free</span>
  </div>
  <div>
    <span><i class="far fa-check-circle"></i></span
    ><span>Oil Free</span>
  </div>
  <div>
  <span><i class="far fa-check-circle"></i></span
  ><span>pH: 5.0 - 6.0</span>
  </div>
    </div>
  </div>`;
    contentdiv.append(sideinfo);
    maindiv2.append(imgdiv, contentdiv);
  };
  appenditem(pro);
</script>
